URxvt.font:     xft:bitstream vera sans mono:size=10:antialias=true
URxvt.boldFont: xft:bitstream vera sans mono:bold:size=10:antialias=true

Xft.dpi:                        96
Xft.antialias:                  1
Xft.autohint:                   1
Xft.hinting:                    1
Xft.hintstyle:                  hintslight
Xft.lcdfilter:                  lcdlight
Xft.rgba:                       rgb

!Custom Pallete
*.foreground:    #ABB2BF
*.background:    #1E2127
*.cursorColor:   #5C6370
*.highlightColor:#00FDFF

*.color0:        #1E2127
*.color8:        #5C6370
! Rojos
*.color1:        #E06C75
*.color9:        #E06C75
! Verde
*.color2:        #98C379
*.color10:       #98C379
! Amarillo
*.color3:        #D19A66
*.color11:       #D19A66
! Azul
*.color4:        #61AFEF
*.color12:       #61AFEF
! Magenta
*.color5:        #C678DD
*.color13:       #C678DD
! Cyan
*.color6:        #56B6C2
*.color14:       #56B6C2
! Blanco
*.color7:        #ABB2BF
*.color15: #FFFFFF

URxvt.transparent:   true
URxvt.tintColor:     white
URxvt.shading:       20 
URxvt*termName:                 rxvt-256color
URxvt.depth:                    32
URxvt*lineSpace:                1
URxvt.letterSpace:              0
URxvt.iso14755:                 false
URxvt.iso14755_52:              false
URxvt.scrollBar:                true
URxvt*loginShell:               true
URxvt.internalBorder:           10
URxvt.perl-ext:	 		default,matcher
URxvt.matcher.button: 		1
